@import '../../styles/theme-variables.scss';

.gallery-item {
    transition: .2s;
    
    .image {
        width: 25vw;
        height: 16vw;
    }
    .label {
        text-align: center;
    }

    &:hover {
        cursor: pointer;
    }
}

@media(max-width: 1500px){
    .gallery-item{
        .image{
            width: 24vw;
            height: 15vw;
        }
    }
}
@media(max-width: 1400px){
    .gallery-item{
        .image{
            width: 32vw;
            height: 21vw;
        }
    }
}

@media(max-width: 960px){
    .gallery-item{
        .image{
            width: 60vw;
            height: 40vw;
        }
    }
}
@media(max-width: 800px){
    .gallery-item{
        .image{
            width: 50vw;
            height: 30vw;
        }
    }
}
@media(max-width: 630px){
    .gallery-item{
        .image{
            width: 44vw;
            height: 28vw;
        }
    }
}
