@import '../../styles/theme-variables.scss';


.home-page {
  
    .home-page-container {
        margin-top: 120px;
        margin-left: 300px;
        padding: .5em;
    }

    .motion {
        margin: 35px auto;

    }
}