@import '../../styles/theme-variables.scss';


.side-bar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background: #f3f3f3;
    z-index: 423;
    // box-shadow: 1px 0px 4px rgba($color: #000000, $alpha: .20);
    margin-top:0;
    .side-bar-container {
        width: 100%;
        height: 100%;
        padding: 2.5em 1.5em;
        text-align: center;
        display: flex;
        flex-direction: column;

        .heading {
            margin-top: 10px;
            font-size: 1.8rem;
            margin-bottom: 10px;
        }

        .sub-heading {
            font-size: .88rem;
        }

        .profile-picture {
            margin: 0 auto;
            .frame{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $secondary-color;
                height: 130px;
                width: 130px;
            }
            img {
                padding: 5px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .nav {
            margin-top: auto;
            margin-bottom: auto;
            .nav-items {
                display: flex;
                flex-direction: column;

                .item {
                    padding: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                a:hover {
                    color: $secondary-color;
                }
                a.active {
                    color: $secondary-color;
                }
            }
        }

        .social-links {
            display: flex;
            justify-content: space-evenly;
            padding: 5px;
            margin-bottom: 20px;
            cursor: pointer;
        }

        .social-links {
            .link {
                .social-icon {
                    
                    svg {
                        height: 16px;
                        width: 16px;
                    }
                }

                .fb{

                    svg {
                        fill:#3260c5;
                        &:hover {
                            fill:darken(#3260c5, 10);
                        }
                    }
                    
                }
                .bh{

                    svg {
                        fill: #1769ff;

                        &:hover {
                            fill:darken(#1769ff, 10);
                        }
                    }
                    
                }
                .ins{

                    svg {
                        fill: #d6249f;

                        &:hover {
                            fill:darken(#d6249f, 10);
                        }
                    }
                    
                }
                .pn{

                    svg {
                        fill: #bd081c;

                        &:hover {
                            fill:darken(#bd081c, 10);

                        }
                    }
                    
                }
                .yt{

                    svg {
                        fill: #cd201f;

                        &:hover {
                            fill:darken(#cd201f, 10);

                        }
                    }
                    
                }
                .dr{

                    svg {
                        fill: #ea4c89;

                        &:hover {
                            fill:darken(#ea4c89, 10);

                        }
                    }
                    
                }
            }
        }  

        .footer {
            font-size: .88rem;
            > span {
                color: red;
            }
        }

    }
}