@import '../../styles/theme-variables.scss';


.contact-page {

    .contact-page-container {
        margin-left: 300px;
        margin-top: 80px;
        padding: 5em;
        display: flex;
        justify-content: center;

        .contact-form {
            .form-control {
                display: flex;
                flex-direction: column;
                margin-bottom: .4em;
                margin-right: 120px;

                label {
                    padding: 6px 0;
                }

                input {
                    height: 40px; 
                    width: 300px;
                    padding: 5px;
                    background: rgba(greenyellow, .15);
                    outline: none;
                    border:none;
                    border: 1px solid rgba(black, .20);
                    &:focus{
                        border: 1px solid rgba($primary-color, .70);  
                    }
                }
            }
            textarea{
                padding: 5px;
                background: rgba(greenyellow, .15);
                outline: none;
                border:none;
                border: 1px solid rgba(black, .20);
                &:focus{
                    border: 1px solid rgba($primary-color, .70);  
                }
            }

            .button-container {
                margin-top: 12px;
                display: inline-block;
                text-align: center;

                .button {
                    border-radius: 200px;
                    background:$primary-color;
                    padding: 10px 18px;  
                    color: white;
                    font-size: 17px;
                    font-weight: bold;
                    text-transform: uppercase;
                    transition: .3s;
                    &:hover {
                        cursor: pointer;
                        background: darken($primary-color, 20);
                        box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px -8px;
                    }
                }
            }
        }

        .contact-details {
            max-width: 500px;
            color: lighten($color:black, $amount: 30);

            .heading {
                font-size: 1.5rem;
                margin-bottom: 12px;
            }

            .hesitate-text {
                margin-bottom: 10px;
            }
        }

        

    }
}