@import '../../styles/theme-variables.scss';

.about-page{
    .about-page-container{
        margin-left: 300px;
        margin-top: 80px;
        padding: 5em;
        display: flex;
        justify-content: center;

        .about-me{
            flex-basis: 48%;
            padding: 20px;

            .para{
                margin-bottom: 10px;
                font-size: .99rem;
                color: lighten($color: #000000, $amount: 25)
            }
        }

        .image-container{
            flex-basis: 50%;
            .image{
                width: 100%;
            }
        }
    }
}