@import '../../styles/theme-variables.scss';

.design-category {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    .branding-category {
        margin:0;
        padding: 0;
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-columns: repeat(5, auto);
    }
   
    .category {
        position: relative;
        border-radius: 10px;

        width: 240px;
        height: 160px;
        .background-img {
            border-radius: 10px;

            width: 100%;
            height: 100%;
        }

        .overlay {
            border-radius: 10px;

            top: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, .45);
            display: flex;
            justify-content: center;
            align-items: center;

            .btn {
                color: white;
                border: 1px solid greenyellow;
                padding: 6px 8px;
                font-weight: bold;
                transition: .2s;
                background: transparentize(grey, .3);

                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                    background: transparentize(grey, .3);
                }
            }

        }

    }

    
}


@media(max-width: 1600px){
    .design-category {
        .branding-category {
            grid-template-columns: repeat(4, auto);
        }
    } 
}

@media(max-width: 1350px){
    .design-category {
        .branding-category {
            grid-template-columns: repeat(3, auto);
        }
    } 
}
@media(max-width: 1075px){
    .design-category {
        .branding-category {
            grid-template-columns: repeat(2, auto);
        }
    } 
}
@media(max-width: 811px){
    .design-category {
        .branding-category {
            grid-template-columns: repeat(1, auto);
        }
    } 
}
