@import '../../styles/theme-variables.scss';

.post-detail-page {
    .post-detail-page-container {
        margin-left: 300px;
        margin-top: 80px;
        padding: 5em;
        display: flex;
        justify-content: center;
    }

    .content{

        .title {
            font-size:2rem;
            font-family: "Roboto";
        }

        .post-image{
            width: 90%;
        }

        .post-body {
        //    width: 100%; 
        }
    }
}