@import '../../styles/theme-variables.scss';

.blog-page{
    .blog-page-container{
        margin-left: 300px;
        margin-top: 80px;
        padding: 5em;
        display: flex;
        justify-content: center;
    }


    .posts-container{
        .post {
            min-height: 200px;

            background: transparentize(grey, .94);
            display: flex;
            border-radius: 4px;
            padding: 10px;
            max-width: 800px;
            margin-bottom: 20px;
            &:hover {
                cursor: pointer;
            }


            .post-image-container{
                .post-image{
                    width: 250px;
                    height: 100%;
                }
            }

            .post-text-container {
                flex: 1;
                padding: 0 2em;
                display: flex;
                flex-direction: column;
                .title{
                    font-family: 'Roboto';
                    font-size: 1.6rem;
                    margin-top: 0;
                    margin-bottom: 10px;
                }
                .sample-text{
                    font-size: .99rem;
                    color: lighten($color: #000000, $amount: 34);
                }

                .time-date {
                    margin-top: auto;
                    display: flex;
                    justify-content: space-between;
                    span{
                        font-size: .9rem;
                        color: lighten($color: #000000, $amount: 34);
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}