@import '../../styles/theme-variables.scss';


.gallery {    
    width: 100%;
    height: 100vh;
    margin: 35px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    &.active {
        min-height: 75vh;
    }

    .category-name {  
        background: rgba(grey, .45);
        padding: 4px 10px;
        border-radius: 5px;
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .items-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 20px;
    }
}

@media(max-width: 1400px){
    .gallery{
        .items-container {
            grid-template-columns: repeat(2, auto);
        }
    }
}
@media(max-width: 960px){
    .gallery{
        .items-container {
            grid-template-columns: repeat(1, auto);
        }
    }
}


