@import '../../styles/theme-variables.scss';

.header {
    position: fixed;
    top: 0;
    right: 0;
    width:calc(100% - 300px);
    height: 120px;
    z-index: 300;
    // border-bottom: 1px solid rgb(211, 210, 210);

    .header-container {
        width: 100%;
        height: 100%;
        background: white;
        position: relative;

        .menu-container {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .menu-icon {
                padding: 1em 1.5em;
                svg {
                    height: 30px;
                    width: 30px;
                    
                    &:hover {
                        cursor: pointer;
                    } 
                } 
            }
        }

        .nav {
            padding-bottom: 12px;
            height: 100%;
            width: 100%;
            transition: .3s;
            .nav-items {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }

            .item {
                margin: 0 18px;

                a {
                    font-weight:600;
                    padding: 9px 0;
                    transition: .3s;
                    font-size: 18px;
                    border-bottom: 2px solid transparent;
                    &:hover {
                        color: lighten($color: #000000, $amount: 40)
                    }


                    &.active{
                        color: $secondary-color;
                        border-bottom: 2px solid $secondary-color;
                    }
                }
            }
        }

    }
}


@media (max-width: 950px){
    .header {
        .header-container {
            .nav {
                &.hidden-nav{
                    display: none;
                }
                padding-top:0;
                position: absolute;
                background: rgba(0, 0, 0, .85);
                width: 100%;
                height: 250px;
                .nav-items {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    .item {
                        margin: 0;
        
                        a {
                            color: white;
                            font-weight:600;
                            padding: 9px 0;
                            transition: .3s;
                            text-transform: uppercase;
                            font-size: 18px;
                            border-bottom: none;
                            &:hover {
                                color: lighten($color: #000000, $amount: 40)
                            }
        
        
                            &.active{
                                color: $primary-color;
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }
}