* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

ul {
  list-style: none;
}

a, p {
  text-decoration: none;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  &:active {
    color: black;
  }

}
.container {
  width: 70%;
  margin: 0 auto;
}
